$background-primary: #FBFAF8;
$color-primary: #2F435E;
$color-secondary: #6096BA;
$active-primary: #58BC82;
$active-secondary: #4C9F70;
$text-primary: #000000;
$text-secondary: #868686;
$text-tertiary: #FFFFFF;
$text-footer: #1E242B;

$breakpoints: (
  mobile: 599px,
  tablet: 1024px
);
